@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap');

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: rgb(131, 127, 127);
    font-family: 'Shippori Antique B1', sans-serif;
}

header {
    width: 100vw;
    background-color: rgb(46, 43, 43);
    padding: 0.5em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header h1 {
    color: white;
    margin-left: 0.5rem;
    margin-top: 0;
    margin-bottom: 0;
}
header label {
    color: white;
}

header form{
    margin: 0 0.5rem;
}

.monthsMenu {
    height: 75px;
    background-color: rgb(131, 127, 127);
    display: flex;
    justify-content: space-between;
    align-items: center;
}




/* --------------------Section tableau-------------------- */

table{ 
    width: 100vw;
    border: 1px solid rgba(255,255,255,0.1);
    border-spacing: 0;
    background-color: #333333;
    color: white;
}



th {
    text-align: center;
    border: 1px solid rgba(255,255,255,0.1);
    width: 14.285%;  
}

td {
    border: 1px solid rgba(255,255,255,0.1);
    width: 14.285%;  
    height: 100px;
    vertical-align: initial;
}

td span {
    margin-left: 0.5rem;
    font-size: 2rem;
}

.emptyBox{
    color: grey;
}

.weekend{
    color: rgb(42, 218, 95);
}